<h1 class="text-2xl font-bold tracking-tight text-gray-900">Editing article</h1>

<div class="mt-10">
  <%= render "form", article: @article %>
</div>

<div class="mt-10 flex items-center gap-x-6">
  <%= link_to "Show this article", article_path(@article), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  <%= link_to "Back to articles", articles_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
</div>
