<h1 class="text-2xl font-bold tracking-tight text-gray-900">New article</h1>

<div class="mt-10">
  <%= render "form", article: @article %>
</div>

<div class="mt-10">
  <%= link_to "Back to articles", articles_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
</div>
